:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root.dark {
  @include set-theme($theme-dark);
}

:root.light {
  @include set-theme($theme-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-size: inherit;
  line-height: inherit;
}

button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 0;
}